{% extends "Tiendita/base.html" %}

{% load static %}

{% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'Tiendita/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Nuestra</span>
            <span class="section-heading-lower">mision</span>
          </h2>
          <p class="mb-3">Inspirar y enriquecer la vida de las personas a través de la música y la literatura, brindando un espacio acogedor y accesible donde descubrir, compartir y disfrutar de las artes.
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0">En el Portal de las Artes, nos dedicamos a compartir la magia de la música y la literatura con personas de todas las edades. Con una experiencia de más de 75 años, hemos perfeccionado el arte de ofrecer una selección incomparable de productos, un servicio excepcional y un ambiente único que inspira la creatividad, el aprendizaje y la pasión por las artes.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}
